<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/app?
		autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.hbm2ddl.">true</prop>
				<!-- <prop key="hibernate.show_sql">true</prop> -->
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>bean/Admin.hbm.xml</value>
				<value>bean/CAddress.hbm.xml</value>
				<value>bean/Cart.hbm.xml</value>
				<value>bean/Collect.hbm.xml</value>
				<value>bean/Comment.hbm.xml</value>
				<value>bean/Company.hbm.xml</value>
				<value>bean/Customer.hbm.xml</value>
				<value>bean/GBatch.hbm.xml</value>
				<value>bean/Goods.hbm.xml</value>
				<value>bean/Help.hbm.xml</value>
				<value>bean/Logs.hbm.xml</value>
				<value>bean/OInfo.hbm.xml</value>
				<value>bean/OOrder.hbm.xml</value>
				<value>bean/Push.hbm.xml</value>
				<value>bean/Sort.hbm.xml</value>
				<value>bean/Deliver.hbm.xml</value>
				<value>bean/Page.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 定时任务 Quartz begin -->
	<!-- 声明工作 -->
	<bean id="job_homepage" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="task.Task_SetHomePage" />
		<property name="jobDataAsMap">
			<map>
				<entry key="goodsService">
					<ref bean="goodsService" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="job_imgsize" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="task.Task_SetGoodsImgSize" />
		<property name="jobDataAsMap">
			<map>
				<entry key="goodsService">
					<ref bean="goodsService" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="job_order" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="task.Task_ClearOrder" />
		<property name="jobDataAsMap">
			<map>
				<entry key="oorderService">
					<ref bean="oorderService" />
				</entry>
			</map>
		</property>
	</bean>
	<bean id="job_backup" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="task.Task_Backup" />
		<property name="jobDataAsMap">
			<map>
			</map>
		</property>
	</bean>
	<!-- 调度Simple工作 -->
	<bean id="trigger_order" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="job_order" />
		<property name="startDelay" value="1500000" />
		<property name="repeatInterval" value="50000000" />
	</bean>
	<bean id="trigger_homepage" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="job_homepage" />
		<property name="startDelay" value="0" />
		<property name="repeatInterval" value="50000000" />
	</bean>
	<bean id="trigger_imgsize" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="job_imgsize" />
		<property name="startDelay" value="1500000" />
		<property name="repeatInterval" value="50000000" />
	</bean>
	<bean id="trigger_backup" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="job_backup" />
		<property name="startDelay" value="20000" />
		<property name="repeatInterval" value="10000" />
	</bean>
	<!--调度cron工作 -->
	<bean id="Trigger_backup" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="job_backup" />
		<property name="cronExpression" value="0 0 0/1 * * ? " />
	</bean>
	<!--启动工作 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger_order" />
				<ref bean="trigger_imgsize" />
				<ref bean="trigger_homepage" />
				<ref bean="Trigger_backup" />
			</list>
		</property>
	</bean>
	<!-- 定时任务 Quartz end -->


	<bean id="SystemAction" class="action.SystemAction" scope="prototype">
		<property name="sortService" ref="sortService"></property>
		<property name="adminService" ref="adminService"></property>
		<property name="companyService" ref="companyService"></property>
		<property name="customerService" ref="customerService"></property>
		<property name="oorderService" ref="oorderService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>


	<bean id="adminAction" class="action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<bean id="adminService" class="service.AdminService">
		<property name="adminDao" ref="AdminDao"></property>
	</bean>
	<bean id="AdminDao" class="dao.AdminDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="helpAction" class="action.HelpAction" scope="prototype">
		<property name="helpService" ref="helpService"></property>
	</bean>
	<bean id="helpService" class="service.HelpService">
		<property name="helpDao" ref="HelpDao"></property>
	</bean>
	<bean id="HelpDao" class="dao.HelpDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="pushAction" class="action.PushAction" scope="prototype">
		<property name="pushService" ref="pushService"></property>
	</bean>
	<bean id="pushService" class="service.PushService">
		<property name="pushDao" ref="PushDAO"></property>
	</bean>
	<bean id="PushDAO" class="dao.PushDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="customerAction" class="action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
	</bean>
	<bean id="customerService" class="service.CustomerService">
		<property name="customerDao" ref="customerDAO"></property>
	</bean>
	<bean id="customerDAO" class="dao.CustomerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="caddressAction" class="action.CAddressAction" scope="prototype">
		<property name="caddressService" ref="caddressService"></property>
	</bean>
	<bean id="caddressService" class="service.CAddressService">
		<property name="caddressDao" ref="caddressDAO"></property>
	</bean>
	<bean id="caddressDAO" class="dao.CAddressDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="cartAction" class="action.CartAction" scope="prototype">
		<property name="cartService" ref="cartService"></property>
	</bean>
	<bean id="cartService" class="service.CartService">
		<property name="cartDao" ref="cartDao"></property>
	</bean>
	<bean id="cartDao" class="dao.CartDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="collectAction" class="action.CollectAction" scope="prototype">
		<property name="collectService" ref="collectService"></property>
	</bean>
	<bean id="collectService" class="service.CollectService">
		<property name="collectDao" ref="collectDao"></property>
	</bean>
	<bean id="collectDao" class="dao.CollectDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="commentAction" class="action.CommentAction" scope="prototype">
		<property name="commentService" ref="commentService"></property>
	</bean>
	<bean id="commentService" class="service.CommentService">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="commentDao" class="dao.CommentDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="companyAction" class="action.CompanyAction" scope="prototype">
		<property name="companyService" ref="companyService"></property>
	</bean>
	<bean id="companyService" class="service.CompanyService">
		<property name="companyDao" ref="companyDao"></property>
	</bean>
	<bean id="companyDao" class="dao.CompanyDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="gbatchAction" class="action.GBatchAction" scope="prototype">
		<property name="gbatchService" ref="gbatchService"></property>
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
	</bean>
	<bean id="gbatchService" class="service.GBatchService">
		<property name="gbatchDao" ref="gbatchDao"></property>
	</bean>
	<bean id="gbatchDao" class="dao.GBatchDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="goodsAction" class="action.GoodsAction" scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
		<property name="sortService" ref="sortService"></property>
	</bean>
	<bean id="goodsService" class="service.GoodsService">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	<bean id="goodsDao" class="dao.GoodsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="logsAction" class="action.LogsAction" scope="prototype">
		<property name="logsService" ref="LogsService"></property>
	</bean>
	<bean id="LogsService" class="service.LogsService">
		<property name="logsDao" ref="LogsDAO"></property>
	</bean>
	<bean id="LogsDAO" class="dao.LogsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="oinfoAction" class="action.OInfoAction" scope="prototype">
		<property name="oinfoService" ref="oinfoService"></property>
	</bean>
	<bean id="oinfoService" class="service.OInfoService">
		<property name="oinfoDao" ref="oinfoDao"></property>
	</bean>
	<bean id="oinfoDao" class="dao.OInfoDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="oorderAction" class="action.OOrderAction" scope="prototype">
		<property name="oorderService" ref="oorderService"></property>
		<property name="oinfoService" ref="oinfoService"></property>
		<property name="gbatchService" ref="gbatchService"></property>
	</bean>
	<bean id="oorderService" class="service.OOrderService">
		<property name="oorderDao" ref="oorderDao"></property>
	</bean>
	<bean id="oorderDao" class="dao.OOrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<bean id="sortAction" class="action.SortAction" scope="prototype">
		<property name="sortService" ref="sortService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>
	<bean id="sortService" class="service.SortService">
		<property name="sortDao" ref="sortDAO"></property>
	</bean>
	<bean id="sortDAO" class="dao.SortDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="pageAction" class="action.PageAction" scope="prototype">
		<property name="pageService" ref="pageService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>
	<bean id="pageService" class="service.PageService">
		<property name="pageDao" ref="pageDAO"></property>
	</bean>
	<bean id="pageDAO" class="dao.PageDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="caddressServlet" class="servlet.CAddressServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
	</bean>

	<bean id="cartServlet" class="servlet.CartServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="cartService" ref="cartService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>

	<bean id="collectServlet" class="servlet.CollectServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="collectService" ref="collectService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>

	<bean id="commentServlet" class="servlet.CommentServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="commentService" ref="commentService"></property>
	</bean>

	<bean id="customerServlet" class="servlet.CustomerServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
		<property name="oorderService" ref="oorderService"></property>
		<property name="oinfoService" ref="oinfoService"></property>
		<property name="collectService" ref="collectService"></property>
		<property name="cartService" ref="cartService"></property>
	</bean>


	<bean id="goodsServlet" class="servlet.GoodsServlet" scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
		<property name="sortService" ref="sortService"></property>
	</bean>

	<bean id="helpServlet" class="servlet.HelpServlet" scope="prototype">
		<property name="helpService" ref="helpService"></property>
	</bean>

	<bean id="pushsServlet" class="servlet.PushServlet" scope="prototype">
		<property name="pushService" ref="pushService"></property>
	</bean>


	<bean id="oorderServlet" class="servlet.OOrderServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="oorderService" ref="oorderService"></property>
		<property name="cartService" ref="cartService"></property>
		<property name="oinfoService" ref="oinfoService"></property>
		<property name="gbatchService" ref="gbatchService"></property>
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
	</bean>


	<bean id="pageServlet" class="servlet.PageServlet" scope="prototype">
		<property name="pageService" ref="sortService"></property>
	</bean>

	<bean id="alipay" class="servlet.Alipay" scope="prototype">
		<property name="oorderService" ref="oorderService"></property>
	</bean>


</beans>










