<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/app?
		autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>


	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.hbm2ddl.">true</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>bean/Admin.hbm.xml</value>
				<value>bean/Customer.hbm.xml</value>

				<value>bean/Sort.hbm.xml</value>
				<value>bean/Goods.hbm.xml</value>
				<value>bean/GBatch.hbm.xml</value>

				<value>bean/Company.hbm.xml</value>

				<value>bean/Order.hbm.xml</value>
				<value>bean/OInfo.hbm.xml</value>

				<value>bean/CAddress.hbm.xml</value>
				<value>bean/CWords.hbm.xml</value>
				<value>bean/Collect.hbm.xml</value>
				<value>bean/Cart.hbm.xml</value>
				<value>bean/Comment.hbm.xml</value>



				<value>bean/Help.hbm.xml</value>
				<value>bean/Push.hbm.xml</value>
				<value>bean/Logs.hbm.xml</value>
			</list>
		</property>
	</bean>



	<bean id="adminAction" class="action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<bean id="adminService" class="service.AdminService">
		<property name="adminDao" ref="AdminDao"></property>
	</bean>
	<bean id="AdminDao" class="dao.AdminDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>





	<bean id="helpAction" class="action.HelpAction" scope="prototype">
		<property name="helpService" ref="helpService"></property>
	</bean>
	<bean id="helpService" class="service.HelpService">
		<property name="helpDao" ref="HelpDao"></property>
	</bean>
	<bean id="HelpDao" class="dao.HelpDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>





	<bean id="pushAction" class="action.PushAction" scope="prototype">
		<property name="pushService" ref="pushService"></property>
	</bean>
	<bean id="pushService" class="service.PushService">
		<property name="pushDao" ref="PushDAO"></property>
	</bean>
	<bean id="PushDAO" class="dao.PushDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>





	<bean id="customerAction" class="action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
	</bean>
	<bean id="customerService" class="service.CustomerService">
		<property name="customerDao" ref="CustomerDAO"></property>
	</bean>
	<bean id="CustomerDAO" class="dao.CustomerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>






	<bean id="caddressAction" class="action.CAddressAction" scope="prototype">
		<property name="caddressService" ref="caddressService"></property>
	</bean>
	<bean id="caddressService" class="service.CAddressService">
		<property name="caddressDao" ref="caddressDAO"></property>
	</bean>
	<bean id="caddressDAO" class="dao.CAddressDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>





	<bean id="cwordsAction" class="action.CWordsAction" scope="prototype">
		<property name="cwordsService" ref="cwordsService"></property>
	</bean>
	<bean id="cwordsService" class="service.CWordsService">
		<property name="cwordsDao" ref="cwordsDao"></property>
	</bean>
	<bean id="cwordsDao" class="dao.CWordsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<bean id="cartAction" class="action.CartAction" scope="prototype">
		<property name="cartService" ref="cartService"></property>
	</bean>
	<bean id="cartService" class="service.CartService">
		<property name="cartDao" ref="cartDao"></property>
	</bean>
	<bean id="cartDao" class="dao.CartDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<bean id="collectAction" class="action.CollectAction" scope="prototype">
		<property name="collectService" ref="collectService"></property>
	</bean>
	<bean id="collectService" class="service.CollectService">
		<property name="collectDao" ref="collectDao"></property>
	</bean>
	<bean id="collectDao" class="dao.CollectDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<bean id="commentAction" class="action.CommentAction" scope="prototype">
		<property name="commentService" ref="commentService"></property>
	</bean>
	<bean id="commentService" class="service.CommentService">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="commentDao" class="dao.CommentDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>




	<bean id="companyAction" class="action.CompanyAction" scope="prototype">
		<property name="companyService" ref="companyService"></property>
	</bean>
	<bean id="companyService" class="service.CompanyService">
		<property name="companyDao" ref="companyDao"></property>
	</bean>
	<bean id="companyDao" class="dao.CompanyDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="gbatchAction" class="action.GBatchAction" scope="prototype">
		<property name="gbatchService" ref="gbatchService"></property>
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
	</bean>
	<bean id="gbatchService" class="service.GBatchService">
		<property name="gbatchDao" ref="gbatchDao"></property>
	</bean>
	<bean id="gbatchDao" class="dao.GBatchDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="goodsAction" class="action.GoodsAction" scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
		<property name="sortService" ref="sortService"></property>
	</bean>
	<bean id="goodsService" class="service.GoodsService">
		<property name="goodsDao" ref="goodsDao"></property>
	</bean>
	<bean id="goodsDao" class="dao.GoodsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="logsAction" class="action.LogsAction" scope="prototype">
		<property name="logsService" ref="LogsService"></property>
	</bean>
	<bean id="LogsService" class="service.LogsService">
		<property name="logsDao" ref="LogsDAO"></property>
	</bean>
	<bean id="LogsDAO" class="dao.LogsDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>






	<bean id="oinfoAction" class="action.OInfoAction" scope="prototype">
		<property name="oinfoService" ref="oinfoService"></property>
	</bean>
	<bean id="oinfoService" class="service.OInfoService">
		<property name="oinfoDao" ref="oinfoDao"></property>
	</bean>
	<bean id="oinfoDao" class="dao.OInfoDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="orderAction" class="action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
		<property name="oinfoService" ref="oinfoService"></property>
	</bean>
	<bean id="orderService" class="service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	<bean id="orderDao" class="dao.OrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>



	<bean id="sortAction" class="action.SortAction" scope="prototype">
		<property name="sortService" ref="sortService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>
	<bean id="sortService" class="service.SortService">
		<property name="sortDao" ref="sortDAO"></property>
	</bean>
	<bean id="sortDAO" class="dao.SortDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>







	<bean id="caddressServlet" class="servlet.CAddressServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
	</bean>

	<bean id="cartServlet" class="servlet.CartServlet" scope="prototype">
		<property name="cartService" ref="cartService"></property>
	</bean>

	<bean id="collectServlet" class="servlet.CollectServlet" scope="prototype">
		<property name="collectService" ref="collectService"></property>
	</bean>

	<bean id="commentServlet" class="servlet.CommentServlet" scope="prototype">
		<property name="commentService" ref="commentService"></property>
	</bean>

	<bean id="customerServlet" class="servlet.CustomerServlet" scope="prototype">
		<property name="customerService" ref="customerService"></property>
		<property name="caddressService" ref="caddressService"></property>
	</bean>

	<bean id="cwordsServlet" class="servlet.CWordsServlet" scope="prototype">
		<property name="cwordsService" ref="cwordsService"></property>
	</bean>

	<bean id="goodsServlet" class="servlet.GoodsServlet" scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
		<property name="companyService" ref="companyService"></property>
		<property name="sortService" ref="sortService"></property>
	</bean>

	<bean id="helpServlet" class="servlet.HelpServlet" scope="prototype">
		<property name="helpService" ref="helpService"></property>
	</bean>

	<bean id="pushsServlet" class="servlet.PushServlet" scope="prototype">
		<property name="pushService" ref="pushService"></property>
	</bean>

	<bean id="oinfoServlet" class="servlet.OInfoServlet" scope="prototype">
		<property name="oinfoService" ref="oinfoService"></property>
	</bean>

	<bean id="orderServlet" class="servlet.OrderServlet" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>

	<bean id="sortServlet" class="servlet.SortServlet" scope="prototype">
		<property name="sortService" ref="sortService"></property>
		<property name="goodsService" ref="goodsService"></property>
	</bean>




	
	
	
</beans>










